nav {
  padding-top: 20px;
  padding-bottom: 20px;
}
.item-bar {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}
.item-title {
  font-weight: bold;
  font-size: 1.25em;
}
.item-creator {
  font-style: italic;
}
